<h1>Register page</h1>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
</ul>
<form method="post" action="register">
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Name</label>
      <input class="u-full-width" name="name" type="text" placeholder="Input your name" id="exampleEmailInput">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input class="u-full-width" name="email" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Password</label>
      <input class="u-full-width" name="password" type="password" placeholder="your password" id="exampleEmailInput">
    </div>

  </div>
  <input class="button-primary" type="submit" value="Submit">
</form>
